/* login */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #999;
}

.logform {
    width: 800px;
    margin: 100px auto 0;
}

.loglogo {
    width: 113px;
    height: 195px;
    margin: 0 auto;
}

.box {
    margin: 50px auto 0;
    width: 300px;
}

.logbox-ipt {
    margin-left: 20px;
}

.username,
.mima {
    margin-top: 20px;
    font-weight: bold;
}

.noborder {
    background: #CBCBCB;
}

.username input,
.mima input {
    width: 300px;
    height: 50px;
    padding-left: 20px;
    font-weight: bold;
    outline: 0;
    border: 0;
}

.agree {
    margin-top: 30px;
    margin-left: 100px;
}

.logbox-ipt3 {
    border: solid 1px #000;
    height: 35px;
    line-height: 34px;
    width: 110px;
    font-size: 16px;
    margin-left: 12px;
    border-radius: 4px;
    color: #333;
    float: right;
    cursor: pointer;
}

.logauto {
    padding-top: 10px;
    color: #000;
    margin-left: 252px;
}

.logdenglu {
    color: #495c81;
    padding: 0;
    border: 0;
    font-size: 100%;
    padding-top: 22px;
    margin-left: 260px;
}

.loginBtn {
    resize: none;
    outline: none;
    cursor: pointer;
    width: 300px;
    height: 50px;
    background: #25292e;
    font-size: 18px;
    color: #ffffff;
    margin-top: 9px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-weight: normal;
}

.logusername {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    border: 0;
    border-bottom: solid 1px #000;
    font-size: 18px;
    width: 137px;
    height: 34px;
    float: left;
    background: url('https://www.iliangcang.com/images/nlcode.png') no-repeat 2px 8px;
    padding-left: 35px;
}

.logmima {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    border: 0;
    border-bottom: solid 1px #000;
    font-size: 18px;
    width: 137px;
    height: 34px;
    float: left;
    background: url('https://www.iliangcang.com/images/nlcode.png') no-repeat 2px 8px;
    padding-left: 35px;
}